* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header style start  */
.header {
    max-width: 1440px 670px;
    background-image: url('../images/donation7.jpg'), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-title {
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #FFFFFF;
}

.banner-description {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    /* text-align: center; */
    background: #FF5959;
    border: none;
    padding: 16px 12px;
    border-radius: 10px;
}

.btn {
    text-align: center;
}

.difference {
    padding: 200px 400px;
}

/* donate today styles */
.donate {
    margin-top: 130px;
    text-align: center;
    display: block;
}

.title-head {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}

.title-description {
    font-weight: 400;
    font-size: 23px;
    color: #707070;
    margin-bottom: 50px;
}

.taka {
    gap: 400px;
    text-align: center;
    justify-content: space-around;
}

.btn-amount {
    font-size: 30px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    padding: 25px 25px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.deadline {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    color: #B3B3B3;
}

/* .line {
    right: 338px;
    width: 765px;
    border: 1px solid #DADADA;
    margin-bottom: 30px;
} */
.line {
    width: 50px 50px;
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: black;
    margin-bottom: 50px;
}

/* our donation plan styles  */
.donate-part {
    margin-top: 100px;
    text-align: center;
}

.donate-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}

.donate-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 50px;
}

/* card styles  */
.card {
    justify-content: center;
    background-size: contain;
    gap: 20px;
    display: flex;
    margin-bottom: 130px;
}

.card-dec1 {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin-bottom: 16px;
}

.card-dec-2 {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.card-dec-10 {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    width: 360px;
    height: 352px;
}

.card-dec-11 {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    width: 360px;
    height: 352px;
}

.card-dec-12 {
    background: #FFF4D6;
    border-radius: 5px;
    width: 360px;
    height: 352px;
}

.sep-1,
.sep-2,
.sep-3 {
    margin-top: 10px;
    margin-bottom: 55px;
    margin-left: 25px;
    margin-right: 23px;
    padding: 35px 0;
}

.rice,
.family,
.education {
    padding-top: 60px;
    padding-left: 23px;
    padding-right: 270px;
}

/* styles end section  */
.end-section {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.end {
    padding: 80px;
    width: 493px;
    height: 374px;
}

.end-title {
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 20px;
    color: #121212;
}

.end-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.end-images {
    width: 456px;
    height: 477px;
}

/* another end section styles  */
.last-section {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.last {
    padding: 80px;
    width: 482px;
    height: 374px;
}

.last-title {
    font-weight: 900;
    font-size: 55px;
    color: #121212;
    margin-bottom: 20px;
}

.last-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.last-images {
    width: 456px;
    height: 477px;
    margin-left: 180px;
}

/* footer area start  */
.footer {
    text-align: center;
    margin-bottom: 70px;
}

.footer-title {
    font-weight: 700;
    font-size: 55px;
    color: #121212;
}

.footer-description {
    font-weight: 400;
    font-size: 22px;
    color: #707070;
}

/* email area start  */
.email {
    margin-left: 400px;
    margin-bottom: 130px;
    width: 809px;
    height: 180px;
    background: #FFF4D6;
}

form {
    display: flex;
    justify-content: center;
    padding-top: 8%;
    margin-right: 70px;
}

.i-email {
    font-size: 25px;
    height: 45px;
    left: 505px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: none;
}

.hocceh-na-keno {
    font-weight: 500;
    font-size: 16px;
    background: #FF5959;
    padding: 16.8%;
    border-radius: 3px;
    border: none;
}

/* last part project style  */
.last-part {
    background: #0B0D17;
    margin-bottom: 5px;
}

.adjust {
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.last-part-title {
    font-family: 'Lobster';
    margin-left: 700px;
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
    padding-top: 25px;
    margin-bottom: 20px;
}

.last-part-description {
    font-weight: 400;
    font-size: 18px;
    color: #D9DBE1;
    margin-left: 715px;
}